@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
    --background-color: #1a191d;
    --accent-color: #ff3c00;
    --blue: #2c49d8;
    --pink: #df058d;
    --orange: #ff6b2b;
    --gray: #4a494d;
    --light-gray: #5f5e61;
    --white: #fefefe;
}

h1 {
    font-family: 'Space Mono', monospace;
    color: var(--white);
}

h2 {
    font-family: 'Space Mono', monospace;
    color: var(--light-gray);
}

h3 {
    font-family: 'Space Mono', monospace;
    color: var(--gray);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Poiret One', cursive;
}