@font-face {
  font-family: "Space Mono Nerd Font";
  src: url("./fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chivo";
  src: url("./fonts/Chivo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chivo";
  src: url("./fonts/Chivo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Chivo";
  src: url("./fonts/Chivo-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

/* ========== VARIABLES ========== */
:root {
  --color-primary: #4facfe;
  --color-secondary: #00f2fe;
  --color-tertiary: #f0f0f0;
  --color-bg: #0a0a0f;
  --color-surface: #151520;
  --color-text: #e0e0e0;
  --color-muted: #6a7c92;
  --font-mono: "Space Mono Nerd Font", monospace;
  --font-sans: "Chivo", sans-serif;
}