@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Inter:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');


/* ========== VARIABLES ========== */
:root {
  --color-primary: #4facfe;
  --color-secondary: #00f2fe;
  --color-tertiary: #f0f0f0;
  --color-bg: #0a0a0f;
  --color-surface: #151520;
  --color-text: #e0e0e0;
  --color-muted: #6a7c92;
  --font-mono: "Space Mono", monospace;
  --font-sans: "Chivo", sans-serif;
}